<!DOCTYPE html>
<html lang="en" ng-app='twitchApp' ng-controller="twitchCtrl">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/twitch.css">
	<script src="node_modules/jquery/dist/jquery.js"></script>
	<script src="scripts/mediator.js"></script>
	<script src="scripts/keyRing.js"></script>
</head>

<body>
	<div>
		<div class="container navBar">
			<div class="row">
				<div class="col-md-2 col-md-sm-12 title-box"><a href="index.html" class="title-link"><h3>FCC Ziplines</h3></a></div>
				<ul class="col-md-6 container row" id="test">
					<a class="col-md-3" href="weather.html">
						<li>Weather Forecast</li>
					</a>
					<a class="col-md-3" href="quote.html">
						<li>90's Random Quote Generator</li>
					</a>
					<a class="col-md-3" href="twitch.html">
						<li>Twitch.tv JSON API</li>
					</a>
					<a class="col-md-3" href="camper.html">
						<li>Camper News</li>
					</a>
					<a class="col-md-3" href="wiki.html">
						<li>WikiPedia Viewer</li>
					</a>
					<a class="col-md-3" href="clock.html">
						<li>Pomodoro Clock</li>
					</a>
					<a class="col-md-3" href="calc.html">
						<li>Javascipt Calculator</li>
					</a>
					<a class="col-md-3" href="game.html">
						<li>Tic Tac Toe Game</li>
					</a>
				</ul>
			</div>
			<!--End row-->
		</div>
		<!--End navBar-->
	</div>
	<div class="wrapper">
		<div class="injectArea">

			<div class="twitchTray container">

				<div class="statusBar row">
					<ul>
						<li class="tab col-md-4 selected" ng-click="filters = 'All'">All</li>
						<li class="tab col-md-4" ng-click="filters = 'Online'">Online</li>
						<li class="tab col-md-4" ng-click="filters = 'Offline'">Offline</li>
					</ul>
				</div>
				<!--End statusBar-->

				<div class="searchArea">

					<div class="searchBar">

						<i class="fa fa-search"></i>
						<input type="text" ng-model="searchText">

					</div>

				</div>
				<!--End searchArea-->


				<div class="streamsBox container">
					<ul class="stream row" ng-repeat="stream in streams | streamsFilter:filters:searchText">
						<a ng-href="{{ stream.url }}">
							<li>
								<div class="col-md-1"><img class="logo" src="{{ getLogo(stream) }}" /></div>
								<span class="name">{{ stream.name }}</span>
								<span class="icon">
									<i class="{{ getIcon(stream) }}"></i></span>
								<div class=" status ">
									<br />{{ getStatus(stream) }}</div>
							</li>
						</a>

					</ul>
					<!--End stream-->


				</div>
				<!--End streamBox-->

			</div>
			<!-- End twitchTray-->

		</div>
		<!--End injectArea-->
	</div>
	<!--End wrapper-->
	<div class="footer ">
		&copy 2015 Brett Flanders: Developer Artist Human
	</div>


	<div class="box ">
		<div class="info ">
			<button class="close ">x</button>
			<div></div>
		</div>
	</div>
	<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js "></script>
	<script src="node_modules/angular/angular.min.js "></script>
	<script src="scripts/app.js "></script>
	<script src="scripts/twitch.js "></script>
</body>

</html>
